@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --box-shadow: 0px 4px 30px rgba(76, 9, 118, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.grid-cols-layout {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 110px), 1fr));
}

/* orders page styles */
.orders-statuses-bar {
  background-color: #a2a2a2;
  height: 3px;
  position: relative;
  overflow: hidden;
}
.active-orders-status {
  position: absolute;
  top: 0;
  display: block;
  width: 16%;
  height: 100%;
  background-color: #f0b846;
  transition-duration: 0.3s;
}
.active-orders-status.ALL {
  left: 0;
}
.active-orders-status.COMPLETED {
  left: 16%;
}
.active-orders-status.PENDING {
  left: 39%;
}
.active-orders-status.CANCELLED {
  left: 61%;
}
.active-orders-status.RECOVERY {
  left: 85%;
}
