@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --box-shadow: 0px 4px 30px rgba(76, 9, 118, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-lg {
  max-width: 1500px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.box-shadow {
  box-shadow: var(--box-shadow);
}
/* orders page styles */
.orders-statuses-bar {
  background-color: #a2a2a2;
  height: 3px;
  position: relative;
  overflow: hidden;
}
.active-orders-status {
  position: absolute;
  top: 0;
  display: block;
  width: 16%;
  height: 100%;
  background-color: #f0b846;
  transition-duration: 0.3s;
}
.active-orders-status.ALL {
  left: 0;
}
.active-orders-status.COMPLETED {
  left: 16%;
}
.active-orders-status.PENDING {
  left: 39%;
}
.active-orders-status.CANCELLED {
  left: 61%;
}
.active-orders-status.RECOVERY {
  left: 85%;
}
.slick-dots {
  bottom: -45px !important;
}
.slick-dots ul {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.slick-dots ul li {
  margin: 0;
  transform-origin: center center;
}
.slick-dots ul li.slick-active {
  width: 50px !important;
}
.slick-dots ul li button::before {
  content: "";
  height: 4px;
  width: 20px;
  background-color: #23286280;
  opacity: 1 !important;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition-duration: 0.3s;
}
.slick-dots ul li.slick-active button::before {
  background-color: #232862 !important;
  width: 50px !important;
}

.box-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.rdrCalendarWrapper {
  background-color: transparent;
}